click==8.0.3
Flask==2.0.2
gitdb==4.0.9
GitPython==3.1.26
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
python-dotenv==0.20.0
python-http-client==3.3.6
sendgrid==6.9.6
smmap==5.0.0
starkbank-ecdsa==2.0.3
Werkzeug==2.0.3
